---

- hosts: docker[0]
  gather_facts: yes
  become: yes
  tasks:
    - name: install prereq
      pip:
        state: present
        name:
          - jsondiff

    - name: Create data dir on glusterfs
      file:
        path: "/mnt/{{ gluster_volume_name }}/portainer/data"
        state: directory

    - name: deploy portainer stack
      docker_stack:
        name: portainer
        state: present
        compose:
          - version: '3.2'
            services:
              agent:
                image: portainer/agent
                volumes:
                  - /var/run/docker.sock:/var/run/docker.sock
                  - /var/lib/docker/volumes:/var/lib/docker/volumes
                networks:
                  - agent_network
                deploy:
                  mode: global
                  placement:
                    constraints: [node.platform.os == linux]

              portainer:
                image: portainer/portainer
                command: -H tcp://tasks.agent:9001 --tlsskipverify
                ports:
                  - "9000:9000"
                  - "8000:8000"
                volumes:
                  - /mnt/{{ gluster_volume_name }}/portainer/data:/data
                networks:
                  - agent_network
                deploy:
                  mode: replicated
                  replicas: 1
                  placement:
                    constraints: [node.role == manager]

            networks:
              agent_network:
                driver: overlay
                attachable: true
